@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
/* start all element*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
}

/* end all element*/
/* start html tag style*/
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: "Roboto";
}

/* end html tag style*/
/* start body tag style*/
body {
  min-height: 1000vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dee1e7;
}

/*  end body tag style*/
/* start nav tag style*/
nav {
  width: 85%;
  height: 1000px;
  margin-top: 50px;
  background-color: #f3d6c8;
  border: 1px solid #f3d6c8;
  background-image: url("../images/image1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
nav .title-contianer {
  margin: auto 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}
nav .title-contianer h2 {
  width: 15%;
  font-size: 3rem;
}
nav .title-contianer .title-list {
  width: 70%;
  display: flex;
  justify-content: center;
}
nav .title-contianer .title-list__item {
  width: auto;
  height: auto;
  list-style-type: none;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0 25px;
  padding: 5px;
}
nav .title-contianer .title-icon {
  width: 15%;
  display: flex;
  justify-content: flex-end;
}
nav .title-contianer .title-icon__item {
  width: auto;
  list-style-type: none;
  font-size: 1.2rem;
  color: #eb4d4b;
  margin: 10px;
}
nav h1 {
  display: block;
  font-size: 7rem;
  color: #463433;
  text-align: center;
  margin: 10px 100px;
  padding: 20px;
}
nav main .search-contianer {
  width: 25%;
  height: auto;
  margin: 85px 75px;
  padding: 10px;
}
nav main .search-contianer .search-text {
  margin: 14px 14px;
  font-weight: bolder;
  font-size: 1.2rem;
  line-height: 14px;
  color: #463433;
}
nav main .search-contianer div {
  width: 250px;
  height: 40px;
  display: flex;
  align-items: center;
  margin: 20px 8px;
  background-color: #f5f6fa;
}
nav main .search-contianer div input {
  width: 217px;
  padding: 5px;
  font-size: 1.3rem;
  background-color: #f5f6fa;
  border: none;
  outline: none;
}
nav main .search-contianer div .search-btn {
  width: 25px;
  height: 25px;
  background-color: #463433;
  color: #f5f6fa;
  border: none;
  outline: none;
}
nav main .search-contianer .search-result {
  width: 180px;
  height: 35px;
  background-color: #463433;
  color: #f5f6fa;
  border: none;
  outline: none;
  margin: 50px 10px;
}

/* end nav tag style*/
.main {
  width: 85%;
  height: 3000px;
  background-color: #f5f6fa;
  padding: 0 100px;
}
.main__title {
  margin: 40px 0;
  font-weight: bold;
  color: #463433;
  text-align: center;
}
.main .logo-list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 110px;
}
.main .logo-list .logo-items {
  width: auto;
  list-style: none;
}
.main .cards-contianer {
  width: 100%;
  display: flex;
  margin: 70px 0;
  column-gap: 100px;
}
.main .cards-contianer .card-one {
  width: 50%;
  height: auto;
  padding: 5px;
}
.main .cards-contianer .card-one .card-title {
  font-size: 5rem;
  color: #463433;
  margin-bottom: 10px;
  text-transform: none;
}
.main .cards-contianer .card-one .card-text-contianer {
  width: 500px;
}
.main .cards-contianer .card-one .card-text-contianer .card-text {
  font-size: 1.5rem;
  color: #463433;
}
.main .cards-contianer .card-one .card-btn {
  width: 180px;
  height: 35px;
  background-color: #463433;
  color: #f5f6fa;
  border: none;
  outline: none;
  margin: 50px 0;
}
.main .cards-contianer .card-one img {
  width: 550px;
  height: 650px;
  display: block;
}
.main .cards-contianer .card-two {
  width: 50%;
  height: auto;
  padding: 5px;
}
.main .cards-contianer .card-two img {
  width: 550px;
  height: 650px;
  display: block;
}
.main .cards-contianer .card-two p {
  margin: 10px 0;
  line-height: 25px;
  font-size: 1.2rem;
}
.main .cards-contianer .card-two .rd-btn {
  width: 180px;
  height: 35px;
  background-color: #463433;
  color: #f5f6fa;
  border: none;
  outline: none;
  margin: 20px 0;
}
.main .product-title {
  font-size: 5rem;
  color: #463433;
  font-weight: bolder;
  text-align: center;
}
.main .product-text {
  text-align: center;
}
.main .card {
  width: 50%;
  height: auto;
  padding: 5px;
}
.main .card img {
  width: 550px;
  height: 600px;
  display: block;
}
.main .card .card-title {
  font-size: 4rem;
  color: #463433;
  margin: 12px 0;
  text-transform: none;
}
.main .card p {
  margin: 10px 0;
  line-height: 25px;
  font-size: 1.2rem;
}
.main .card .title-list {
  width: 100%;
  display: flex;
  column-gap: 135px;
}
.main .card .title-list .title-item {
  width: auto;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .card .title-list .title-item h2 {
  width: auto;
  color: #2b5460;
  font-size: 2rem;
  margin-bottom: 2px;
}
.main .card .title-list .title-item span {
  width: 90px;
  text-align: center;
  border-top: 3px solid #463433;
  display: block;
  padding: 5px;
  font-size: 1rem;
}
.main .card .buy-btn {
  width: 150px;
  height: 35px;
  background-color: #463433;
  color: #f5f6fa;
  border: none;
  outline: none;
  margin-top: 30px;
  margin-right: 30px;
}
.main .card .add-btn {
  width: 150px;
  height: 35px;
  background-color: #f5f6fa;
  border: 1px solid #463433;
  color: #463433;
  outline: none;
  margin-top: 30px;
}

/*# sourceMappingURL=style.css.map */
