$light-blue:#3498DB ;
$blue:rgb(43,84,96);
$white:#f5f6fa;
$black:#1e272e;
$gray:#485460;
$milky:#eccc68;
$light-yellow:#f6e58d;
$light-gray:#a4b0be;
$light-red:#eb4d4b;
$green:#16A085;
$pink:rgb(243,214,200);
$white100:rgb(222,225,231);
$brown:rgb(70,52,51);
$textSize:2rem;



